In [1]:
import pandas as pd

In [2]:
import psycopg2

In [3]:
from sqlalchemy import create_engine

In [4]:
from time import time

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
df.head(n = 0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [10]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize=100000)

In [11]:
df_iter

In [12]:
while True:
    t_start = time()
    
    try:
        df = next(df_iter)
    except StopIteration:
        print('No more data to upload.')
        break
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('Inserted another chunk, took %.3f seconds' % (t_end - t_start))

Inserted another chunk, took 6.514 seconds
Inserted another chunk, took 7.039 seconds
Inserted another chunk, took 7.243 seconds
Inserted another chunk, took 6.769 seconds
Inserted another chunk, took 7.379 seconds
Inserted another chunk, took 7.483 seconds
Inserted another chunk, took 7.132 seconds
Inserted another chunk, took 7.396 seconds
Inserted another chunk, took 8.043 seconds
Inserted another chunk, took 8.150 seconds
Inserted another chunk, took 8.240 seconds
Inserted another chunk, took 7.633 seconds

/tmp/ipykernel_23004/3644421879.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 8.157 seconds
Inserted another chunk, took 5.655 seconds
No more data to upload.